body {
  background: no-repeat center center fixed;
  background-size: cover;
 
 .container {
    width: 50%;
    margin: auto auto;
    text-align: center;
  
  h1 {
    color: red;
    font-family: sans-serif;
  }
  
  .details-class {
    min-height: 200px;
  }
  
  }
}

.cloudy {
  background-image: url('../images/cloudy.jpg');
  
}

.clear {
  background-image: url('../images/clear.jpg');
  
}

.rain {
  background-image: url('../images/rain.jpg');
  
}

.default {
  background-image: url('../images/default.jpg');
  
}